.button{
    -fx-max-width: 200;
    -fx-min-width: 80;
    -fx-background-color: linear-gradient(  from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
}
#qwerty{
    -fx-background-image: url("../images/fon.png");
}
#messagesArea{
    -fx-background-image: url("../images/fon.png");
}
#messageControl{
    -fx-background-image: url("../images/fon.png");
}

#qwerty1{
    -fx-background-image: url("../images/fon.png");
}